body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 10px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-body {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 2px; /* Space between buttons */
    align-items: center;
}
    
.button-icon {
    font-size: 1em;
    padding: 3px 7px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s ease; /* Smooth transition */
}
/*
.button-icon:hover {
    color: #0056b3;
}

.button-icon:active {
    color: #004999;
}*/

.box-list {
    list-style-type: none;
    padding-left: 0;
}

.box-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.box-item:hover {
    background-color: #f0f0f0;
}

.box-item a {
    display: block;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.box-item h2 {
    flex: 1;
    margin-right: 10px;
    color: #333;
}

.box-item p {
    font-size: 0.9em;
    color: #666;
    flex-shrink: 0;
}

.box-link:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .box-item {
        padding: 10px;
    }

    .header-title h1 {
        font-size: 1.5em;
    }

    .button-icon {
        font-size: 1.2em;
    }
}

form {
    display: flex;
    width: 100%;
}

#editBoxForm {
    display: grid; 
    grid-template-columns: 1fr 2fr; /* Label takes 1/3, input takes 2/3 */
    gap: 10px;
    align-items: center;
    /*max-width: 500px; /* Adjust as needed */
}

#editBoxForm label {
    font-weight: bold;
    text-align: right;
}

#editBoxForm input,
#editBoxForm textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#editBoxForm textarea {
    resize: vertical; /* Allow resizing */
}

@media (max-width: 600px) {
    #editBoxForm {
        grid-template-columns: 1fr; /* Stack labels on small screens */
    }

    #editBoxForm label {
        text-align: left;
    }
}



.separator {
    display: inline-block;
    width: 2px; /* Line thickness */
    height: 28px; /* Make it match button height */
    background-color: rgba(0, 0, 0); /* Light gray */
    margin: 0 3px; /* Space between buttons */
    vertical-align: middle;
}